@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@import url('nav.css');
@import url('contact.css');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Courier New', Courier, monospace;
}

/* Paleta de colores */

:root {
    --color-black: #1E2022;
    --color-grey: #52616B;
    --color-light-grey: #C9D6DF;
    --color-white: #F0F5F9;
}

/* Estilos generales */

body {
    background-color: var(--color-white);
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #1e2022;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1c1c1c;
}

::-webkit-scrollbar-thumb:active {
    background: #1c1c1c;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #e3e3e3;
}

::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

::-webkit-scrollbar-corner {
    background: transparent;
}