#recentVehicle{
    background-color: var(--color-white);
    color: rgb(0, 0, 0);
    margin-bottom: 3rem;
}

.title-recent{
    text-align: center;
    background-color: var(--color-black);
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
}

.title-vehicle{
    text-align: center;
    background-color: var(--color-black);
    color: white;
    width: 300px;
    margin: 1.2rem auto 0.5rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
}

.vehicles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ratio-mw{
    min-width: 380px;
}

/* Slider */


.logos {
    overflow: hidden;
    padding: 20px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}


@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}


@media screen and (min-width: 768px){
    .ratio-mw{
        width: 440px;
    }
}


@media screen and (min-width: 992px){

    .title-recent{
        font-size: 2rem;
        width: 900px;
        margin: 2rem auto;
        border-radius: 10px;
    }

    .title-vehicle{
        width: 400px;
        margin: 1.8rem auto 0.8rem;
        padding: 1.3rem;
        border-radius: 10px;
        font-size: 1.4rem;
    }

    .ratio-mw{
        width: 480px;
    }

    .logos-slide img {
        height: 80px;
        margin: 0 40px;
    }
}